*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto",sans-serif;
}
.main{
    border-color: #6C63FF;
    display: flex;
    flex-direction: column;
    width:750px;
    height:710px;
    left: 325px; 
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}
body.light-theme {
    background-color: white;

}
body.dark-theme {
    color: white;
    background-color:#252525;
}
.li
body{
   
    height: 100vh;
}
.empty{
    display: flex;
    justify-content: center;
  
    width: 221px;
    height: 174px;
margin-bottom:  300px;
margin-left: 100px;
flex-direction: column;
align-items: center;
visibility: hidden; 


}
h4{
    position: absolute;
    top: 53%;
    font-style: Kanit;
    line-height: 20px;

}
#empty{
    margin-bottom: 500px;
    width: 221px;
    height: 174px;
    left: 149px
    


}
#title{
    margin:30px ;
    display:flex;
    justify-content: center;
}
.nav-bar{
    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 600px;
    height:38px;
}
#search{
    padding-left: 10px;
    margin-left: 10px;
  border-radius: 10px;
  width: 595px;
  height: 38px;
}
#mode{
    
    width:38px;
    height: 38px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
body.light-theme #mode{
    background-color:#6C63FF;
    color: white;

}
body.dark-theme #mode{
    background-color:#6C63FF;
    color: white;

}
#option{
    width: 85px;
    height: 38px;
    border-radius: 10px;
    margin-left: 10px;
   
    cursor: pointer;
}
body.light-theme #option{
    background-color: #6C63FF;
    color: white;

}
body.dark-theme #option{
    background-color: #6C63FF;
    color: white;

}
body.light-theme input{
    border-color: #6C63FF;
    color: #6C63FF;
  
}
body.dark-theme input{
    background-color: #252525;
    border-color: white;
    color: white;
  
}
#glass{
    font-size: 25px;
   
    margin-left: 550px;
    margin-bottom: 60px;
    position: absolute;
    left: 350px;

    top: 120px;

}
body.light-theme #glass{
    color: #6C63FF;
}
body.dark-theme #glass{
    color:white;
}
li{
   
    list-style: none;
    padding: 12px 8px 12px 50px;

}
 li.checked{
    text-decoration: line-through;
}


.body{
    /* background-color: aqua; */
    width: 750px;
height: 500px;
margin-top: 35px;
margin-left:250px;
gap: 0px;
opacity: 0px;


}
.new-note{
    margin-top: 500px;
    margin-right: 30px;
}
#add{
  
    width: 50px;
   height: 50px;
   margin-left: 725px;
border-radius: 50px;
font-size: 38px;

transform: translate(-50%,-50%);
}
body.light-theme #add{
    color:white;
    border-color: white;
    background-color:#6C63FF;
}
body.dark-theme #add{
    color:white;
    border-color:#252525;
    background-color:#6C63FF;
}
.option{
    border-radius: 20px;
} 
.icons{
    visibility: hidden;
    cursor: pointer;
}
span:hover .icons{
    visibility: visible;
}
body.light-theme hr{
    border-color:#6C63FF;
}
body.dark-theme hr{
    border-color:#6C63FF;
}
.popup{
    position:fixed;
    top:-100vh;
    left:0%;
    width: 100%;
    height: 100%;

}
.popup .popup-content{
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 289px;
    border-radius:16px;
    box-shadow: 0px 2px 2px 5px (rgba(0,0,0,0.5));
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%)scale(1.15);
    opacity: 0;
    
}
body.light-theme .popup .popup-content{
    background-color: white;
}
body.dark-theme .popup .popup-content{
    background-color: #252525;
}
.Note-Item{
    font-size: 25px;
    width: 525px;
    height: 26px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 16px;
    line-height: 20px;
   
}
.note{
    display: flex;
    justify-content: space-between;
}
.checkbox{
    width: 26px;
    height: 26px;
}
body.dark-theme .checkbox{
    background-color: #252525;
}
body.light-theme .checkbox{
    background-color:white;
}
.popup-content h3{
    display: flex;
    justify-content: center;
    margin-top:25px ;
    margin-bottom: 20px;
}
.controls{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 22px;
    margin-right: 22px;
    cursor: pointer;
}
.cancel{
    font-size:17px ;
    border-radius: 5px;
   
    width: 110px;
    height: 38px;
}
body.light-theme .cancel{
    color: #6C63FF;
    border-color: #6C63FF;
}
body.dark-theme .cancel{
    color: #6C63FF;
    border-color: #6C63FF;
    background-color: #252525;
}
.apply{
    font-size:17px ;
    border-radius: 5px;
    width: 110px;
    height: 38px;
}
body.light-theme .apply{
    color:white;
    background-color: #6C63FF;
}
body.dark-theme .apply{
    color:white;
    background-color: #6C63FF;
}
.popup .overlay{
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup.active{
    top:0px;
    transition: top 0ms ease-in-out 0ms;
}
.popup.active .overlay{
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.popup.active .popup-content{
    transform: translate(-50%-50%,);scale: (1);
    opacity:1;
}
#urNote{
    width: 440px;
    height: 38px;
    margin-left: 25px;
    border-radius: 8px;
}

    
